button {
    position: absolute;
    top: 70px;
    left: 1700px;
    width: 70px;
    height: 70px;
    border: none;
    background: transparent;
}

.text1 {
    font-size: 30px;
    position: absolute;
    top: 75px;
    left: 740px;
}

.results1 {
    position: absolute;
    top: 120px;
    left: 700px;
    border: 2px solid;
    width: 500px;
    height: 300px;
}

.results1 p {
    position: absolute;
    top: 130px;
    left: 230px;
}

.text2 {
    font-size: 30px;
    position: absolute;
    top: 500px;
    left: 130px;
}

.results2 {
    position: absolute;
    top: 550px;
    left: 110px;
    border: 2px solid;
    width: 500px;
    height: 300px;
}

.results2 p {
    position: absolute;
    top: 130px;
    left: 230px;
}

.results3 {
    position: absolute;
    top: 550px;
    left: 700px;
    border: 2px solid;
    width: 500px;
    height: 300px;
}

.results3 p {
    position: absolute;
    top: 130px;
    left: 230px;
}

.results4 {
    position: absolute;
    top: 550px;
    left: 1300px;
    border: 2px solid;
    width: 500px;
    height: 300px;
}

.results4 p {
    position: absolute;
    top: 130px;
    left: 230px;
}