.updown {
    animation-name:updown1;   /* アニメーション名の指定 */
    animation-delay:0s;   /* アニメーションの開始時間指定 */
    animation-duration: 3s;   /* アニメーション動作時間の指定 */
    animation-timing-function: ease-in-out;  /* アニメーションの動き指定（徐々に早く）*/
    animation-iteration-count: infinite;
    }
    @keyframes updown1 {
    0% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-20px);
    }
    100% {
    transform: translateY(0);
    }
    }

.button {
    position: absolute;
    top: 350px;
    left: 840px;
    border: none;
    background: transparent;
}

.searchform_check {
    display: none;
}

.searchform_popup {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 20em;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: bottom 0.5s, opacity 0.5s;
}
.searchform_check:checked + .searchform_popup {
    bottom: 35%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.searchform_popup form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.searchform_popup input {
    box-sizing: border-box;
}
.searchform_popup input[type="text"] {
    padding: 0.5em 1em;
    width: 100%;
}
.searchform_popup input[type="submit"] {
    padding: 0.5em;
    width: calc(20% - 10px);
}
