<!DOCTYPE html>

{% load static %}

<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>bookssearch</title>
    <link rel="stylesheet" href="{% static 'css/top.css' %}">
</head>
<body>
    <label for="searchform_flag" class="button updown"><img src="{% static 'css/magnifying glass.png' %}"></label>
    <input type="checkbox" id="searchform_flag" class="searchform_check">
    <div class="searchform_popup">
        <form method="post" action="{% url 'Webapp:search_view' %}">
            {% csrf_token %}
            <input type="text" value="" name="s">
            <input type="submit" value="検索">
        </form>
    </div>
</body>
</html>